{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>BRAWLER PICKER</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Donate</a></li>
                <li><a href="">Credits</a></li>
            </ul>
        </nav>
    </header>
    {% block main %}
    
    {% endblock %}
</body>
</html>