{% extends 'main/base.html' %}

{% block title %}Brawler Picker{% endblock %}

{% block main %}
<main>
    <details>
        <summary>
            <span>YOUR TEAM STRONG SKILLS</span>
            <span>+X</span>
        </summary>
        <div>
            <div>aaaaaa</div>
            <div>aaaaaa</div>
            <div>aaaaaa</div>
        </div>
        <div>
            Seu time...
        </div>
    </details>
    <article>
        <select class="brawl-select">
            <option value="" disabled selected>Escolha seu Brawler...</option>
            <option value="shelly">Shelly</option>
            <option value="colt">Colt</option>
            <option value="el_primo">El Primo</option>
        </select>
        <select class="brawl-select">
            <option value="" disabled selected>Escolha seu Brawler...</option>
            <option value="shelly">Shelly</option>
            <option value="colt">Colt</option>
            <option value="el_primo">El Primo</option>
        </select>
        <select class="brawl-select">
            <option value="" disabled selected>Escolha seu Brawler...</option>
            <option value="shelly">Shelly</option>
            <option value="colt">Colt</option>
            <option value="el_primo">El Primo</option>
        </select>
    </article>
    <article>
        <select class="brawl-select">
            <option value="" disabled selected>Escolha seu Brawler...</option>
            <option value="shelly">Shelly</option>
            <option value="colt">Colt</option>
            <option value="el_primo">El Primo</option>
        </select>
        <select class="brawl-select">
            <option value="" disabled selected>Escolha seu Brawler...</option>
            <option value="shelly">Shelly</option>
            <option value="colt">Colt</option>
            <option value="el_primo">El Primo</option>
        </select>
        <select class="brawl-select">
            <option value="" disabled selected>Escolha seu Brawler...</option>
            <option value="shelly">Shelly</option>
            <option value="colt">Colt</option>
            <option value="el_primo">El Primo</option>
        </select>
    </article>
    <details>
        <summary>
            <span>ENEMY TEAM STRONG SKILLS</span>
            <span>+X</span>
        </summary>
        <div>
            <div>aaaaaa</div>
            <div>aaaaaa</div>
            <div>aaaaaa</div>
        </div>
        <div>
            O time inimigo...
        </div>
    </details>
</main>
{% endblock %}