{% load static %}

<section id="{{ card_id }}" class="{{ card_class }}">
    <div class="circunstantial-icon-container">
        <div class="circunstantial-icon-tooltip" data-tooltips="Texto da Página 1 com bastante conteúdo... | Texto da Página 2 explicando mais coisas... | Terceira parte do texto grande com uma quantia realmente absurda de texto, o que necessariamente obrigará que o texto vaze para fora da caixa padrão e, por consequência, só possa ser acessada por meio de uma barra de rolagem... | Quarta e última parte do texto informativo.">
            <span>0.0</span>
            <span class="circunstantial-icon-pages">1/1</span>
            <div class="clickable-tooltip-box">
                <span class="clickable-tooltip-text"></span>
            </div>
        </div>
    </div>
    <div class="hipercharge-container">
        <div class="hipercharge-tooltip-image" data-tooltip="No hipercharge selected">
            <img src="{% static 'images/hipercharges/hipercharge_base.png' %}" alt="" class="hipercharge-image">
        </div>
    </div>
    <img src="{% static 'images/brawlers/glowbert_icon.png' %}" alt="" class="brawler-image">
    <input type="text" class="brawler-select" list="brawler-suggestions" placeholder="Brawler Name:">
    <datalist id="brawler-suggestions">
        {% for brawler in brawlers %}
            <option value="{{ brawler.name }}"></option>
        {% endfor %}
    </datalist>
    <div class="brawler-additional-info">
        <div class="gadget-container">
            <div class="tooltip-image" data-tooltip="No gadget selected">
                <img class="image-selected" data-id="0" src="{% static 'images/gadgets/gadget_base.png' %}" alt="">
            </div>
            <div class="gadget-select select-items select-hide">

            </div>
        </div>
        <div class="star-power-container">
            <div class="tooltip-image" data-tooltip="No star power selected">
                <img class="image-selected" data-id="0" src="{% static 'images/star-powers/starpower_base.png' %}" alt="">
            </div>
            <div class="star-power-select select-items select-hide">

            </div>
        </div>
    </div>
    <div class="brawler-status" data-tooltip="TExtooo" data-status="{{ status|default:"OK" }}">{{ status|default:"OK" }}</div>
</section>