{% load static %}

<section id="{{ card_id }}" class="{{ card_class }}">
    <div class="hipercharge-container">
        <img src="{% static 'images/hipercharges/hipercharge_base.png' %}" alt="" class="hipercharge-image">
    </div>
    <img src="{% static 'images/brawlers/glowbert_icon.png' %}" alt="" class="brawler-image">
    <input type="text" class="brawler-select" list="brawler-suggestions" placeholder="Brawler Name:">
    <datalist id="brawler-suggestions">
        {% for brawler in brawlers %}
            <option value="{{ brawler.name }}"></option>
        {% endfor %}
    </datalist>
    <div class="brawler-additional-info">
        <div class="gadget-container">
            <img class="image-selected" data-id="0" src="{% static 'images/gadgets/gadget_base.png' %}" alt="">
            <div class="gadget-select select-items select-hide">

            </div>
        </div>
        <div class="star-power-container">
            <img class="image-selected" data-id="0" src="{% static 'images/star-powers/starpower_base.png' %}" alt="">
            <div class="star-power-select select-items select-hide">

            </div>
        </div>
    </div>
    <div class="brawler-status" data-tooltip="TExtooo" data-status="{{ status|default:"OK" }}">{{ status|default:"OK" }}</div>
</section>